<!DOCTYPE html>
<html>
<head>
<title>ChatApp::Site Flow</title>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style>
body {
	font-family: Menlo, Consolas, monospace;
	color: #444;
}

.item {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

ul {
	padding-left: 1em;
	line-height: 1.5em;
}
</style>
</head>
<body>
	<script type="text/x-template" id="item-template">
  <li>
    <div :class="{bold: isFolder}" @click="toggle">
      {{model.name}}
      <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
    </div>
    <ul v-show="open" v-if="isFolder">
      <item class="item" v-for="model in model.children" :model="model"></item>
    </ul>
  </li>
</script>
	<ul id="dataList">
		<item class="item" :model="treeData"> </item>
	</ul>
	<script>
		var data = {
			name : "ChatApp Hierarchy",
			children : [ {
				name : "Pre-Login Screens",
				children : [ {
					name : "Login",
					children : [ {
						name : "Verification Pending"
					}, {
						name : "Deactivated Account"
					} ]
				}, {
					name : "Signup",
					children : [ {
						name : "Welcome Message"
					}, {
						name : "User action"
					} ]
				}, {
					name : "Forgot Password",
					children : [ {
						name : "Code Input"
					} ]
				} ]
			}, {
				name : "Post-Login Screens",
				children : [ {
					name : "Chat Window",
					children : [ {
						name : "Users Panel",
						children : [ {
							name : "User List"
						}, {
							name : "Search Friends"
						}, {
							name : "Search Criteria"
						}, {
							name : "Search Results"
						} ]
					}, {
						name : "Message Panel",
						children : [ {
							name : "Message Display Area",
							children : [ {
								name : "Message Options",
								children : [ {
									name : "Delete Message"
								}, {
									name : "Delete Conversation"
								}, {
									name : "Archive Conversation"
								}, {
									name : "Show Online/Offline"
								}, {
									name : "Show/Hide Last Seen"
								}, {
									name : "Show/Hide Message Receipt"
								}, {
									name : "Download Conversation"
								} ]
							}, {
								name : "Message Content"
							} ]
						}, {
							name : "Message Input Area",
							children : [ {
								name : "Text Input"
							}, {
								name : "Emoji Input"
							}, {
								name : "Enter Control"
							}, {
								name : "Send"
							}, {
								name : "Display Typing Status"
							}, {
								name : "Audio Input*"
							}, {
								name : "Audio Chat*"
							}, {
								name : "Video Input*"
							}, {
								name : "Video Chat*"
							}, {
								name : "Transfer File*"
							} ]
						}, {
							name : "Search Messages"
						}, {
							name : "Search Criteria"
						}, {
							name : "Search Results"
						} ]
					}, {
						name : "Summary Panel",
						children : [ {
							name : "User Info Area",
							children : [ {
								name : "Link to Profile"
							}, {
								name : "Unfriend"
							} ]
						}, {
							name : "Message Summary Area",
							children : [ {
								name : "Message Summary"
							} ]
						} ]
					}, {
						name : "Control Panel",
						children : [ {
							name : "Settings Options",
							children : [ {
								name : "Account",
								children : [ {
									name : "Suspend"
								}, {
									name : "Delete"
								} ]
							}, {
								name : "General",
								children : [ {
									name : "User name"
								}, {
									name : "Email ID"
								}, {
									name : "Phone Number"
								} ]
							}, {
								name : "Security",
								children : [ {
									name : "Change Password"
								}, {
									name : "Set/Change Security Questions"
								}, {
									name : "Review Saved Devices"
								}, {
									name : "Check Last 10 Login Activity"
								}, {
									name : "2-Step Verification*"
								} ]
							}, {
								name : "Privacy",
								children : [ {
									name : "Blocked User"
								}, {
									name : "Show Online/Offline"
								}, {
									name : "Control Last Seen"
								}, {
									name : "Display Profile Picture"
								}, {
									name : "Control Message Receipt"
								} ]
							}, {
								name : "Chats",
								children : [ {
									name : "Delete All Chats"
								}, {
									name : "Archive All Chats"
								}, {
									name : "Download All Chats"
								} ]
							}, {
								name : "Notification",
								children : [ {
									name : "Mute/Unmute All"
								}, {
									name : "Turn on/off In Page Notification"
								}, {
									name : "Turn on/off Email Notification"
								}, {
									name : "Turn on/off SMS Notification"
								} ]
							} ]
						}, {
							name : "New Message"
						}, {
							name : "Profile",
							children : [ {
								name : "Display Profile"
							}, {
								name : "Edit Profile"
							} ]
						} ]
					} ]
				}, {
					name : "Friend's Profile",
					children : [ {
						name : "Friend's Bio"
					}, {
						name : "Block"
					}, {
						name : "Join Request"
					}, {
						name : "Request"
					}, {
						name : "Unfriend"
					} ]
				} ]
			}, {
				name : "Common Screens",
				children : [ {
					name : "Error"
				}, {
					name : "Terms & Conditions"
				}, {
					name : "Privacy Policy"
				}, {
					name : "Contact Us"
				}, {
					name : "About Us"
				}, {
					name : "Help"
				} ]
			} ]
		};

		// define the item component
		Vue.component('item', {
			template : '#item-template',
			props : {
				model : Object
			},
			data : function() {
				return {
					open : false
				}
			},
			computed : {
				isFolder : function() {
					return this.model.children && this.model.children.length
				}
			},
			methods : {
				toggle : function() {
					if (this.isFolder) {
						this.open = !this.open
					}
				}
			}
		});

		var dataList = new Vue({
			el : '#dataList',
			data : {
				treeData : data
			}
		});
	</script>
</body>

</html>
