<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='org.joy.ca.db.dao.EmojiDAO'>

	<select id='selectAllEmoji' resultMap='EmojiResult'>
		SELECT
			e.*
		FROM
			emoji e
		WHERE
			e.active IS TRUE
	</select>
	
	<select id='selectEmojiByGroup' parameterType='int' resultMap='EmojiResult'>
		SELECT
			e.*
		FROM
			emoji e
		WHERE
			e.e_group_id = #{eGroupId}
		AND e.active IS TRUE
	</select>
	
	<insert id='insertEmoji' parameterType='Emoji'>
		INSERT INTO emoji
		(
			emoji_code,
			emoji_name,
			emoji_data,
			e_group_id
		)
		VALUES
		(
			#{emojiCode}, 
			#{emojiName}, 
			#{emojiData}, 
			#{eGroupId}
		)

	</insert>
	
	<resultMap type='Emoji' id='EmojiResult'>
		<id property='emojiId' column='emoji_id' />
		<result property='emojiCode' column='emoji_code' />
		<result property='emojiName' column='emoji_name' />
		<result property='emojiData' column='emoji_data' />
		<result property='eGroupId' column='e_group_id' />
		<result property='active' column='active' />
		<result property='createdAt' column='created_at' />
		<result property='updatedAt' column='updated_at' />
		<result property='deletedAt' column='deleted_at' />
	</resultMap>
</mapper>