<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='org.joy.ca.db.dao.UserInfoDAO'>
	<select id='authenticateUser' parameterType='java.util.Map' resultType='Integer'>
		SELECT
			u.login_id
		FROM
			user_info u
		WHERE
			(u.email = #{userId} OR u.username = #{userId})
		AND u.password = #{password}
		AND u.active IS TRUE
	</select>
	<select id='getUserInfo' parameterType='int' resultMap='UserInfo'>
		SELECT
			u.login_id,
			u.email,
			u.username,
			u.password,
			u.group,
			u.fullname,
			u.last_login_time
		FROM
			user_info u
		WHERE
			u.login_id = #{loginId}
		AND u.active IS TRUE
	</select>
	
	<select id='getFriendList' parameterType='int' resultMap='UserInfo'>
		SELECT
			u.login_id,
			u.email,
			u.username,
			u.fullname
		FROM
			user_info u
		WHERE
			u.login_id != #{loginId}
		AND u.active IS TRUE
	</select>

	<resultMap type='UserView' id='UserInfo'>
		<id property='loginId' column='login_id' />
		<result property='email' column='email' />
		<result property='username' column='username' />
		<result property='password' column='password' />
		<result property='group' column='group' />
		<result property='active' column='active' />
		<result property='fullname' column='fullname' />
		<result property='lastLoginTime' column='last_login_time' />
	</resultMap>
</mapper>